.poster {
  height: 30rem;
  width: 70%;
  background-color: white;

  background-image: linear-gradient(to right, #f0592a 0%, #be1e2d 100%);

  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.2rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.poster_title {
  color: white;
  font-size: 10rem;
  font-weight: bold;
}
.poster_description1 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 0.7rem;
}
.poster_description2 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 0.7rem;
}

@media screen and (max-width: 1466px) {
  .poster {
    width: 80%;
  }
}
