.bmi_calculator {
  position: absolute;

  top: -6rem;
  right: 22%;
  padding: 3rem 1rem;
  background-color: white;
  width: 35rem;

  display: flex;
  flex-direction: column;

  gap: 5rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.bmi_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-inline: 3rem;
}
.input_box {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_box > input {
  all: unset;
  width: 100%;
  border-bottom: 3px solid #404147;
  padding: 1rem;
  font-size: 4rem;
  font-weight: bold;
  color: #404147;
}

.input_box > label {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  color: #404147;
  text-align: start;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.bmiResult {
  font-size: 4rem;
  font-weight: bold;
  color: #404147;
  width: 100%;
  margin-left: 2rem;
  text-align: start;
}
.bmiResultSpan {
  font-weight: 700;
  font-size: 1.5rem;
}
.bmiResultText {
  margin-top: auto;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;

  background-color: #eb5147;
  padding: 1rem 0.5rem;
  text-align: center;
  color: white;
}

@media screen and (max-width: 800px) {
  .bmi_calculator {
    top: auto;
    right: auto;
    bottom: -120%;
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .bmiResultText {
    font-size: 2rem;
  }
}
